.container{
  margin-top: 0.5vh;
  height: 82vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border: #888 solid 1vmin;
  color: #FFF;
  font-size: 3vmin;
  font-family: Saira Semi Condensed;
  background-color: #111;
}
.container h1{
  font-size: 5vmin;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 80%;
  border-left: 0.5vw solid #42C434;
  border-right: 0.5vw solid #42C434;
  margin: 0 auto;
  background-color: #0C7C00;
  text-align: center;
}
.container a{
  text-decoration: none;
  color: #178186;
}
#container-main{
  float: left;
  width: 62vw;
}
#container-right{
  float: right;
  margin-right: 1vw;
  width: 30vw;
}
